<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- General -->
	<category label="30200">
		<setting id="server_url" type="text" label="30201" default="" />
	</category>

	<!-- Streaming -->
	<category label="30300">
		<setting id="live_transcode" type="number" label="30301" default="0" />
	</category>

	<!-- Recordings -->
	<category label="30400">
		<setting id="show_thumbnail" type="bool" label="30401" default="true" />
	</category>
</settings>
